<a href="https://colab.research.google.com/github/DaniHisayasu/DataTwitter-Eleitoral/blob/main/Etapa_3_EDA%2C_Storytelling_e_Visualiza%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Etapa 3 - EDA, Storytelling e Visualização

In [ ]:
import pandas as pd
import re

In [ ]:
dataframe_final_candidatos = pd.read_csv('Etapa_2_dataframe_final_candidato (1).csv')

In [ ]:
dataframe_final_candidatos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Data_Hora  153 non-null    object
 1   IdTweet    153 non-null    int64
 2   Tweet      153 non-null    object
 3   Candidato  153 non-null    object
dtypes: int64(1), object(3)
memory usage: 4.9+ KB

In [ ]:
dataframe_final_candidatos.isnull()

     Data_Hora  IdTweet  Tweet  Candidato
0        False    False  False      False
1        False    False  False      False
2        False    False  False      False
3        False    False  False      False
4        False    False  False      False
..         ...      ...    ...        ...
148      False    False  False      False
149      False    False  False      False
150      False    False  False      False
151      False    False  False      False
152      False    False  False      False

[153 rows x 4 columns]

In [ ]:
dataframe_final_candidatos.isnull().sum()

Data_Hora    0
IdTweet      0
Tweet        0
Candidato    0
dtype: int64

In [ ]:
dataframe_final_candidatos['Tweet_limpo'] = dataframe_final_candidatos['Tweet']

In [ ]:
def limpeza_do_texto(tweet):
  tweet = tweet.lower()
  tweet = re.sub('\n','',tweet)
  tweet = re.sub('@[^\s]+','', tweet)
  tweet = re.sub('\@#\S+', '', tweet)
  tweet = re.sub('https?://\S+|www\.\S+','', tweet)
  return tweet

In [ ]:
dataframe_final_candidatos['Tweet_limpo'] = dataframe_final_candidatos['Tweet'].apply(lambda i: limpeza_do_texto(i))

In [ ]:
dataframe_final_candidatos.head()

,Data_Hora,IdTweet,Tweet,Candidato,Tweet_limpo
0,2022-07-31 15:30:43+00:00,1553765106617565184,@AcervoCharts e o ciro ac?,Ciro,e o ciro ac?
1,2022-07-31 15:30:37+00:00,1553765079870590976,"Traíra, quem vota nesses safados?? @ArthurLir...",Ciro,"traíra, quem vota nesses safados??"
2,2022-07-31 15:30:36+00:00,1553765076095696902,@desmentindobozo @ciro_nogueira Eu tenho curio...,Ciro,eu tenho curiosidade em saber qual vai ser a...
3,2022-07-31 15:30:33+00:00,1553765063730798593,@anisio_nogueira @CiroNoFlow o pavor de vocês ...,Ciro,o pavor de vocês de enfrentar ciro no segund...
4,2022-07-31 15:30:18+00:00,1553765002145841153,@LeonardoBoff O Ciro saiu do PDS mas o PDS não...,Ciro,o ciro saiu do pds mas o pds não saiu do ciro.

In [ ]:
dataframe_final_candidatos.to_csv('dataframe_final_candidatos_pronto_para_sentimento.csv', sep=',', index=False)